.about {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 5px 10px;
  background-color: darkorange;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.about:hover {
  background-color: #e84118;
}

.aboutWindow {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
  width: 50vw;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 20px;
}

.aboutWindow ol {
  list-style-position: inside;
}
.closeWindowButton {
  margin-bottom: 15px;
  background-color: red;
  color: black;
  font-size: 15px;
  border: 0;
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.closeWindowButton:hover {
  background-color: darkred;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0);
  opacity: 0.2;
}
