.boardRow {
  display: flex;
}

.status {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  height: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
