/* Reset default styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
}

.status {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-row {
  display: flex;
  flex-wrap: wrap; /* Allow game boards to wrap onto new rows */
  justify-content: center;
  margin-top: 5px;
}

.game-board {
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden;
  width: calc(
    33.33% - 20px
  ); /* Ensure each board takes up 1/3 of the container width */
  max-width: 300px; /* Limit maximum width of each board */
}

.board-row {
  display: flex;
}

.square {
  background-color: #fff;
  border: 2px solid #333;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.active-square {
  background-color: #f8b400;
  border: 2px solid #333;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.score-board {
  max-width: 300px;
  margin-top: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.github-link {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #24292e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
}

.github-link:hover {
  background-color: #0366d6;
}
